<div class="fill">
    <div class="center">
        <h2>Add a new idea to {{collection && collection.name}}</h2>

        <el-form style="min-width: 480px;">
            <el-form-item label="Name">
                <el-input v-model="newIdea.name" placeholder="Give your idea a name"></el-input>
            </el-form-item>

            <el-form-item label="Description">
                <el-input type="textarea" v-model="newIdea.description" placeholder="Describe the idea"></el-input>
            </el-form-item>

            <el-form-item label="Tags">
                <tag-editor v-model="newIdea.tags"></tag-editor>
            </el-form-item>

            <el-button type="primary" icon="el-icon-plus" @click="create()">Save</el-button>
        </el-form>
    </div>
</div>