@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700|Raleway&display=swap');

:root {
    --header-height: 65px;
}

html, body {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 300;
}

h1 {
    font-weight: 100;
    font-size: 2.5em;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #B21D12;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 9pt;
}

pre > code {
    color: #000;
}

.fill {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
}

.el-avatar {
    vertical-align: middle;
    margin: 20px
}

.el-select .el-input {
    width: 140px;
}